pydantic==2.8.2
pydantic-settings==2.4.0
pytz==2024.1
cloudscraper==1.2.71
beautifulsoup4==4.12.3
lxml==5.2.2
numpy==2.0.1
pandas==2.2.2
pyarrow==17.0.0
numba==0.60.0
matplotlib==3.9.1
seaborn==0.13.2
jinja2==3.1.4
isort==5.13.2
ruff==0.5.6
