tzdata==2025.2
pydantic==2.11.4
pydantic-settings==2.9.1
cloudscraper==1.2.71
beautifulsoup4==4.13.4
lxml==5.4.0
numpy==2.2.6
pandas==2.2.3
pyarrow==20.0.0
matplotlib==3.10.3
seaborn==0.13.2
jinja2==3.1.6
isort==6.0.1
ruff==0.11.10
