name: Update data

on:
  schedule:
    - cron: 35 11 * * * # 6:35 PM in Vietnam

jobs:
  update-data:
    runs-on: ubuntu-slim
    steps:
      - name: checkout repo content
        uses: actions/checkout@v5

      - name: setup python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          cache: pip
          cache-dependency-path: requirements.txt

      - name: install python packages
        run: |
          pip install -r requirements.txt

      - name: fetch data
        run: python src/fetch.py

      - name: analyze data
        run: python src/analyze.py

      - name: get current date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_ENV

      - name: Commit changes
        run: |
          if git diff --quiet; then
            echo "No changes to commit"
            exit 0
          fi

          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git add .
          git commit -m "Updated ${{ env.date }}"
          git push origin main
